<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; Charset=gb2312">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title th:text="${need.name}"></title>
<!--    <link rel="shortcut icon" href="../../static/images/Logo_40.png" type="image/x-icon">-->
    <!--Layui-->
    <link href="../../static/plug/layui/css/layui.css" rel="stylesheet" />
    <!--font-awesome-->
    <link href="../../static/plug/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!--全局样式表-->
    <link href="../../static/css/global.css" rel="stylesheet" />
    <!-- 比较好用的代码着色插件 -->
    <link href="../../static/css/prettify.css" rel="stylesheet" />
    <!-- 本页样式表 -->
    <link href="../../static/css/detail.css" rel="stylesheet" />
</head>
<body>
    <!-- 导航 -->
    <nav class="blog-nav layui-header">
        <div class="blog-container">
            <!--&lt;!&ndash; QQ互联登陆 &ndash;&gt;
            <a href="javascript:;" class="blog-user">
                <i class="fa fa-qq"></i>
            </a>-->
            <!-- 注销 -->
            <a href="/logout" class="blog-user">
                <p style="color:white">退出登录</p><!--<i class="fa fa-qq"></i>-->
            </a>
            <a href="javascript:;" class="blog-user layui-hide">
                <img src="../../static/images/Absolutely.jpg" alt="Absolutely" title="Absolutely" />
            </a>
            <a class="blog-logo" href="/user/homePage">物资捐赠网</a>
            <!-- 导航菜单 -->
            <ul class="layui-nav" lay-filter="nav">
                <li class="layui-nav-item">
                    <a href="/user/home"><i class="fa fa-home fa-fw"></i>&nbsp;网站首页</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/user/addNeed"><i class="fa fa-file-text fa-fw"></i>&nbsp;发布求助</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/user/addGood"><i class="fa fa-tags fa-fw"></i>&nbsp;资源分享</a>
                </li>
                <!--<li class="layui-nav-item">
                    <a href="/user/timeline"><i class="fa fa-hourglass-half fa-fw"></i>&nbsp;点点滴滴</a>
                </li>-->
                <li class="layui-nav-item">
                    <a href="/user/about"><i class="fa fa-info fa-fw"></i>&nbsp;关于本站</a>
                </li>
            </ul>
            <!-- 手机和平板的导航开关 -->
            <a class="blog-navicon" href="javascript:;">
                <i class="fa fa-navicon"></i>
            </a>
        </div>
    </nav>
    <!-- 主体（一般只改变这里的内容） -->
    <div class="blog-body">
        <div class="blog-container">
            <blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow">
                <a href="/user/homePage" title="网站首页">网站首页</a>
                <a href="article.html" title="文章专栏">文章详情</a>
                <a><cite th:text="${need.name}"></cite></a>
            </blockquote>
            <div class="blog-main">
                <div class="blog-main-left">
                    <div class="article-detail shadow">
                        <div class="article-detail-title" th:text="${need.name}"></div>
                        <div class="article-detail-info">
                            <span th:text="'编辑时间: ' + ${need.createTime}"></span>
                            <span th:each="user:${users}" th:if="${user.id eq need.userId}" th:text="'发布者: ' + ${user.name}"></span>
                            <span th:text="'评论数: ' + ${comments.size()}"></span>
                        </div>
                        <div class="article-detail-content">

                            <p style="text-align:center;">
                                <strong>
                                    <span style="font-size:18px;">
                                        <br />
                                    </span>
                                </strong>
                            </p>
                            <!--<p style="text-align:center;">
                                <img src="http://www.lyblogs.cn/kindeditor/attached/image/20170318/20170318175743_4625.gif" width="100%" height="auto" title="pagesize演示" alt="pagesize演示" />
                            </p>-->
                           <!-- <p style="text-align:left;">
                                <br />
                            </p>
                            <hr />
                            <p>
                                <br />
                            </p>-->
                            <div style="text-align:center;">
                                &nbsp; &nbsp; <span style="color:#EE33EE;">需要数量: </span><p th:text="${need.count}"></p>
                            </div>
                            <hr />
                            <p>
                                <br />
                            </p>
                            <p th:text="${need.desc}"></p>
                            <hr />
                            <p>
                                <br />
                            </p>
                            <p >
                                &nbsp; &nbsp;<span style="color:#337FE5;" th:text="'联系电话：' + ${need.tel}"></span>
                                &nbsp; &nbsp;<span style="color:#337FE5;"  th:text="'地址：' + ${need.location}"></span>
                                &nbsp; &nbsp;<span style="color:#337FE5;" th:if="${need.solved eq 1}" th:text="需求已解决"></span>
                                <span style="color:#337FE5;" th:if="${need.solved eq 0}" th:text="需求还未解决"></span>
                            </p>
                        </div>
                    </div>
                    <!-- 评论区域 -->
                    <div class="blog-module shadow" style="box-shadow: 0 1px 8px #a6a6a6;">
                        <fieldset class="layui-elem-field layui-field-title" style="margin-bottom:0">
                            <legend>来说两句吧</legend>
                            <div class="layui-field-box">
                                <form class="layui-form blog-editor" action="/user/comment" method="post">
                                    <div class="layui-form-item">
                                        <textarea name="editorContent" style="height:100px;width: 500px;resize: none;"placeholder="请输入内容"></textarea>
                                    </div>
                                    <input type="hidden" name="id" th:value="${need.id}"/>
                                    <div class="layui-form-item">
                                        <input class="layui-btn" lay-filter="formRemark" type="submit" value="提交评论"/>
<!--                                        <button class="layui-btn" lay-submit="formRemark" lay-filter="formRemark">提交评论</button>-->
                                    </div>
                                </form>
                            </div>
                        </fieldset>
                        <div class="blog-module-title">评论</div>
                        <ul class="blog-comment">
                            <li th:each="comment:${comments}">
                                <div class="comment-parent">
<!--                                    <img src="../images/Absolutely.jpg" alt="absolutely" />-->
                                    <div class="info">
                                        <span class="username"  th:each="user:${users}" th:if="${user.id eq comment.userId}" th:text="${user.name}"></span>
                                        <span class="time" th:text="${comment.createTime}"</span>
                                    </div>
                                    <div class="content" th:text="${comment.content}"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <footer class="blog-footer">
        <p><span>Copyright</span><span>&copy;</span><span>2021</span>物资捐赠网<span>Design By HL</span></p>
        <p><a href="http://www.baidu.com/" target="_blank">备案号***********</a></p>
    </footer>
    <!--&lt;!&ndash;侧边导航&ndash;&gt;
    <ul class="layui-nav layui-nav-tree layui-nav-side blog-nav-left layui-hide" lay-filter="nav">
        <li class="layui-nav-item">
            <a href="/user/homePage"><i class="fa fa-home fa-fw"></i>&nbsp;网站首页</a>
        </li>
        <li class="layui-nav-item layui-this">
            <a href="article.html"><i class="fa fa-file-text fa-fw"></i>&nbsp;文章专栏</a>
        </li>
        <li class="layui-nav-item">
            <a href="resource.html"><i class="fa fa-tags fa-fw"></i>&nbsp;资源分享</a>
        </li>
        <li class="layui-nav-item">
            <a href="timeline.html"><i class="fa fa-road fa-fw"></i>&nbsp;点点滴滴</a>
        </li>
        <li class="layui-nav-item">
            <a href="about.html"><i class="fa fa-info fa-fw"></i>&nbsp;关于本站</a>
        </li>
    </ul>-->
    <!--分享窗体-->
    <div class="blog-share layui-hide">
        <div class="blog-share-body">
            <div style="width: 200px;height:100%;">
                <div class="bdsharebuttonbox">
                    <a class="bds_qzone" title="分享到QQ空间"></a>
                    <a class="bds_tsina" title="分享到新浪微博"></a>
                    <a class="bds_weixin" title="分享到微信"></a>
                    <a class="bds_sqq" title="分享到QQ好友"></a>
                </div>
            </div>
        </div>
    </div>
    <!--遮罩-->
    <div class="blog-mask animated layui-hide"></div>
    <!-- layui.js -->
    <script src="../../static/plug/layui/layui.js"></script>
    <!-- 自定义全局脚本 -->
    <script src="../../static/js/global.js"></script>
    <!-- 比较好用的代码着色插件 -->
    <script src="../../static/js/prettify.js"></script>
    <!-- 本页脚本 -->
    <script src="../../static/js/detail.js"></script>
</body>
</html>